---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
const { footer } = menu;
const { copyright, us_address, india_address, sweden_address, email, phone } = config.params;
---

<footer class="relative footer bg-[#F1F1F1] px-6 py-5">
  <div class="container mx-auto relative">
    <div class="flex flex-col lg:flex-row justify-between gap-10">
      
      <!-- Left Column: Logo + Offices + Contact -->
      <div class="flex flex-col gap-5 w-full lg:w-2/3">
        <Logo />

        <div >
          <h6 class="font-bold text-lg mb-2 ml-2">Our Offices</h6>
          <div class="flex flex-col md:flex-row gap-6 md:gap-12 ml-4">
            <div>
              <!-- <div class="font-semibold mb-2">Sweden Address:</div> -->
              <a class="whitespace-pre-line">{sweden_address}</a>
            </div>
            <div>
              <!-- <div class="font-semibold mb-2">US Address:</div> -->
              <a class="whitespace-pre-line">{us_address}</a>
            </div>
            <div>
              <!-- <div class="font-semibold mb-2">India Address:</div> -->
              <a class="whitespace-pre-line">{india_address}</a>
            </div>
          </div>
        </div>

        <div>
          <h6 class="font-bold text-lg mb-2 ml-2">Contact Us</h6>
          <ul class="ml-2">
            <li class="mb-2">
              <a class="hover:text-primary" href={`mailto:${email}`}>{email}</a>
            </li>
            <li>
              <a class="hover:text-primary hover:underline" href={`tel:${phone}`}>{phone}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="w-full lg:w-1/4 pt-20 lg:mt-0">
        <h6 class="font-bold text-lg mb-4">Quick Links</h6>
        <ul>
          {
            footer.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-4"}>
                <a class="hover:text-primary hover:underline" href={item.url}>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <!-- Social Icons Right-Center -->

    <div class="flex flex-col gap-y-4 absolute top-1/2 sm:right-6 md:right-10 lg:right-14 -translate-y-1/2">
      <Social source={social} className="social-icons !flex !flex-col items-center gap-y-4" />
    </div>
    


    <!-- Copyright -->
    <div class="border-t border-border pt-6 text-center mt-10">
      <p class="content text-text" set:html={markdownify(copyright)} />
    </div>
  </div>
</footer>



